<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="championApiKey" value="1653e423321b3d5648fc296f542b36c1"/>
    <add key="riotGamesApiKey" value="bf840ccd-8e28-4ad3-b843-7291cf7b7576"/>
  </appSettings>
</configuration>